<div class="container mt-5">
  <div class="row">
    <div class="col lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">LISTADO DE PRODUCTOS</span>
          <button
            class="btn btn-success float-end"
            routerLink="/crear-producto"
          >
            NUEVO
          </button>
          <table class="table table-stripped mt-3">
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Categoria</th>
                <th scope="col">Ubicacion</th>
                <th scope="col">Precio</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">1</td>
                <td>Coca-Cola</td>
                <td>Bebida</td>
                <td>1.5€</td>
                <td>
                  <i class="fas fa-trash-alt"></i><i class="fas fa-edit"></i>
                </td>
              </tr>
              <tr>
                <td scope="row">2</td>
                <td>Fanta</td>
                <td>Bebida</td>
                <td>1.4€</td>
                <td>
                  <i class="fas fa-trash-alt"></i><i class="fas fa-edit"></i>
                </td>
              </tr>
              <tr>
                <td scope="row">3</td>
                <td>Jumpers</td>
                <td>Comida</td>
                <td>1€</td>
                <td>
                  <i class="fas fa-trash-alt"></i><i class="fas fa-edit"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
